{% extends 'base.html' %} {% load staticfiles %} {% block contents %}
<section class="section_padding_top_100 section_padding_bottom_100 height-100">
    <div class='head-contents'>
        <div class="container">
            <div class='row'>
                <!--회원 정보 시작-->
                <div class="col-md-3">
                    <div class='profile'>
                        {% if user.is_authenticated %}
                        <img src="{% static 'jobcomment/img/user.png'%}" alt="오류" class="img-circle"> <br>
                        {{user.username}} 님 <br>
                        <a class="info" href="{% url 'login' %}">내 정보</a>
                        <a class="info" href="{% url 'logout' %}">로그아웃</a>
                        {% else %}
                        <img src="{% static 'jobcomment/img/user.png'%}" alt="오류" class="img-circle"> <br>
                        
                        <img src="" alt="" class="img-circle"> <br>
                        <br>
                        <a class="info" href="{% url 'login' %}">로그인</a>
                        <a class="info" href="{% url 'signup' %}">회원가입</a>
                        {% endif %} 
                    </div>
                </div>
                <!--회원 정보 종료-->

                <!--검색창 시작-->
                <div class=" col-md-9">
                    <div class="search-input">
                        <input type="text" class="search" value="검색">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </div>
                </div>
                <!--검색창 종료-->
            </div>
            <!--row-->
        </div>
        <!--container-->
    </div>

        <div class="container top-250">
            <div class='row'>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <a href='' class='clickbox'>
                            <img class="image" src="{% static 'jobcomment/img/politics.png'%}">
                            <span>정치</span>
                        </a>
                    </div>
                    <div class="col-md-12">
                        <a href='' class='clickbox'>
                            <img class="image" src="{% static 'jobcomment/img/politics.png'%}">
                            <span>정치</span>
                        </a>
                    </div>
                    <div class="col-md-12">
                        <a href='' class='clickbox'>
                            <img class="image" src="{% static 'jobcomment/img/politics.png'%}">
                            <span>정치</span>
                        </a>
                    </div>
                    <div class="col-md-12">
                        <a href='' class='clickbox'>
                            <img class="image" src="{% static 'jobcomment/img/politics.png'%}">
                            <span>정치</span>
                        </a>
                    </div>
                    <div class="col-md-12">
                        <a href='' class='clickbox'>
                            <img class="image" src="{% static 'jobcomment/img/politics.png'%}">
                            <span>정치</span>
                        </a>
                    </div>
                    <div class="col-md-12">
                        <a href='' class='clickbox'>
                            <img class="image" src="{% static 'jobcomment/img/politics.png'%}">
                            <span>정치</span>
                        </a>
                    </div>
                </div>
                <!--콘텐츠 시작-->
                <div class='col-md-9'>
                    <div class="content-detail">
                        <div class='content row'>
                            {% for blog in posts %}
                                <div class="col-md-6">
                                    <div class='main-content' style="background-image: url( {{ blog.image.url }} ); background-size: cover;">
                                        <div class= 'media-content'>
                                        </div>
                                        <div style="    padding-top: 10px;
                                        position: sticky;
                                        top: 0;
                                        right: 0;
                                        bottom: 0;
                                        left: 0;">
                                            <h2 style="    font-weight: 800;
                                            color: white;
                                            text-shadow: 1px 1px 3px black;">{{ blog.title }}</h2>
                                        </div>
                                    </div>
                                </div> 
                                <!-- <div class="col-md-6" style="background-image: url( {{ blog.image.url }} )">
                                    <div class='card shadow-sm'>
                                        <span class="card-body">
                                            <p class="card-text">제목:{{ blog.title }}</p>
                                            <p class="card-text">내용:{{ blog.summary }}</p>
                                            <span class="d-flex justify-content-between align-items-center">
                                                <span class="btn-group">
                                                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'detail' blog.id %}">View</a>
                                                </span>
                                            </span>
                                        </span>
                                    </div>
                                </div> -->
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</section>

{% endblock %}
